* {
  margin: 0%;
  padding: 0%;
}
body {
  background-color: rgb(228, 223, 223);
  color: rgb(42, 41, 41);
}
/*Allmänt för alla sidor*/
p {
  font-size: 1.2rem;
}
li {
  font-size: 1.2rem;
  list-style: outside;
}
h2,
h3 {
  font-size: 2rem;
  margin-top: 5%;
}
h1 {
  font-size: 2.5rem;
  margin-bottom: 5%;
}
header {
  background-color: rgb(39, 39, 39);
  display: flex;
  flex-wrap: wrap;
  padding: 2% 2% 2% 2%;
}
#header-text {
  font-size: 3rem;
  color: whitesmoke;
  width: 100%;
  padding: 2%;
  text-align: center;
}
#burger {
  display: none;
}
nav {
  width: 100%;
}
nav ul li {
  display: inline-flex;
  padding-left: 5%;
}
nav ul {
  display: flex;
  justify-content: end;
}
a {
  color: rgb(228, 223, 223);
  text-decoration: none;
  display: inline-flex;
}
a:hover {
  background-color: rgb(228, 223, 223);
  border-radius: 40%;
  box-shadow: 1px 1px 10px 5px rgb(228, 223, 223),
    1px 1px 20px 5px rgb(233, 233, 233), 1px 1px 20px 5px #fff;
  color: black;
}

a:active {
  color: rgb(228, 223, 223);
}
footer {
  background-color: rgb(39, 39, 39);
  color: whitesmoke;
  text-align: center;
  padding: 5% 0% 5% 0%;
}
.active-page {
  background-color: rgb(228, 223, 223);
  color: black;
}
a.active-page {
  padding: 2% 15%;
}

/*INDEX*/
#information {
  line-height: 3rem;
  padding: 5%;
  width: 40%;
  margin: auto;
}
#blue-link {
  color: blue;
}
.cursive {
  font-style: italic;
  font-size: 1rem;
}

/*PUBLICATION*/
#publication {
  line-height: 3rem;
  padding: 5%;
  width: 40%;
  margin: auto;
}
.automatisera h2 {
  font-size: 1.5rem;
}
#h2ash1 {
  font-size: 2.5rem;
}
/*PICTURES */
#pictures {
  text-align: center;
  padding: 5%;
}

@media all and (min-width: 768px) and (max-width: 1023px) {
  #publication {
    width: 80%;
    margin: auto;
  }
  #information {
    width: 80%;
    margin: auto;
  }
}

@media all and (max-width: 767px) {
  #publication {
    width: 90%;
    margin: auto;
  }
  #information {
    width: 90%;
    margin: auto;
  }
  p {
    font-size: 1.1rem;
  }
  li {
    font-size: 1.1rem;
    list-style: outside;
  }
  h2,
  h3 {
    font-size: 1.5rem;
  }
  h1 {
    font-size: 2rem;
  }
  #h2ash1 {
    font-size: 2rem;
  }
  nav {
    left: 0%;
    display: none;
    position: absolute;
    top: 50px;
    text-align: center;
    background-color: rgb(228, 223, 223);
    box-shadow: 1px 1px 25px 5px rgb(39, 39, 39);
  }
  #burger {
    display: block;
    color: rgb(228, 223, 223);
  }
  .fa-bars {
    font-size: 2rem;
  }
  nav ul {
    display: block;
    justify-content: start;
  }
  nav ul li {
    display: block;
    padding: 5%;
  }
  nav ul li:hover {
    background-color: rgb(217, 207, 207);
  }
  nav ul li a {
    font-size: 1.5rem;
    color: black;
  }
  nav ul li a:hover {
    color: black;
  }
  a:hover {
    border-radius: 0%;
    box-shadow: none;
  }
  .active-page {
    background-color: #d9cfcf00;
  }
  a.active-page {
    padding: 2% 15%;
  }
  a:hover {
    background-color: #d9cfcf00;
    border-radius: 40%;
    box-shadow: none;
  }
}
