* {
  margin: 0%;
  padding: 0%;
}
body {
  background-color: rgb(228, 223, 223);
  color: rgb(42, 41, 41);
}
/*Allmänt för alla sidor*/
p {
  font-size: 1.2rem;
}
li {
  font-size: 1.2rem;
  list-style: outside;
}
h2,
h3 {
  font-size: 2rem;
  margin-top: 5%;
}
h1 {
  font-size: 2.5rem;
  margin-bottom: 5%;
}
header {
  background-color: rgb(39, 39, 39);
  display: flex;
  flex-wrap: wrap;
  padding: 2% 2% 2% 2%;
}
#header-text {
  font-size: 3rem;
  color: whitesmoke;
  width: 100%;
  padding: 2%;
  text-align: center;
}
nav {
  width: 100%;
}
nav ul li {
  display: inline-flex;
  padding-left: 5%;
}
nav ul {
  display: flex;
  justify-content: end;
}
a {
  color: rgb(221, 199, 249);
  text-decoration: none;
  display: inline-flex;
}
a:hover {
  color: rgb(249, 199, 246);
}

a:active {
  color: rgb(221, 199, 249);
}
footer {
  background-color: rgb(39, 39, 39);
  color: whitesmoke;
  text-align: center;
  padding: 5% 0% 5% 0%;
}
/*INDEX*/
#information {
  line-height: 3rem;
  padding: 5%;
  width: 40%;
  margin: auto;
}
#moodle-link {
  color: blue;
}
.cursive {
  font-style: italic;
  font-size: 1rem;
}

/*PUBLICATION*/
#publication {
  line-height: 3rem;
  padding: 5%;
  width: 40%;
  margin: auto;
}
/*PICTURES */
#pictures {
  text-align: center;
  padding: 5%;
}
