* {
  margin: 0%;
  padding: 0%;
}
body {
  background-color: rgb(228, 223, 223);
  color: rgb(42, 41, 41);
}
/*Allmänt för alla sidor*/
p {
  font-size: 1.2rem;
}
li {
  font-size: 1.2rem;
  list-style: outside;
}
h2,
h3 {
  font-size: 2rem;
  margin-top: 5%;
}
h1 {
  font-size: 2.5rem;
  margin-bottom: 5%;
}
header {
  background-color: rgb(39, 39, 39);
  display: flex;
  padding: 5% 2% 5% 2%;
}
nav ul li {
  display: inline;
  justify-content: space-between;
}
a {
  color: rgb(221, 199, 249);
  text-decoration: none;
  justify-content: space-between;
}
a:hover {
  color: rgb(249, 199, 246);
  text-decoration: wavy;
}
a:visited {
  color: rgb(221, 199, 249);
}
a:active {
  color: antiquewhite;
}
footer {
  background-color: rgb(39, 39, 39);
  color: whitesmoke;
  text-align: center;
  padding: 5% 0% 5% 0%;
}
/*INDEX*/
#information {
  line-height: 3rem;
  padding: 5%;
}
#moodle-link {
  color: blue;
}

/*PUBLICATION*/
#publication {
  line-height: 3rem;
  padding: 5%;
}
